<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <a class="navbar-brand">رستوران انگولار</a>
  <div class="collapse navbar-collapse">
<ul class="navbar-nav w-100">
  <li class="nav-item">
    <a class="nav-link" href="#">لیست رسپی ها</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">لیست محصولات</a>
  </li>
  <li class="nav-item dropdown ms-auto">
    <a class="nav-link dropdown-toggle" role="button" id="dropDownToggle">تنظیمات</a>
    <div class="dropdown-menu">
      <a class="dropdown-item">دریافت اطلاعات</a>
      <a class="dropdown-item">ارسال اطلاعات اطلاعات</a>
    </div>
  </li>
</ul>
  </div>
</nav>
