<div class="row">
  <div class="col-xs-12">
    <img src="" class="img-fluid">
  </div>
  <div class="col-xs-12">
   <h4>recipe name</h4>
  </div>
  <div class="col-xs-12 mb-3">
    <div class="btn-group">
      <button class="btn btn-outline-success">
        افزودن
      <i class="fa fa-plus"></i>
      </button>
      <button class="btn btn-outline-warning">
        ویرایش
      <i class="fa fa-edit"></i>
      </button>
      <button class="btn btn-outline-danger">حدف
      <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
  <span class="xol-xs-12">
    <p>description</p>
    <p>مواد تشکیل دهنده</p>
  </span>
</div>
