/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'ANJOMAN';
  src: url("assets/Anjoman-Bold.ttf");
}
body{
  font-family: ANJOMAN!important;

}
